changepassword-page{
  .scroll-content{
    background-color: #F0F0F2;
  }
  .text_border{
    background-color: #fff;
    height:90px;
    padding-bottom: 10px;
  }
  .text_border div{
    width:250px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
  }
  #text_ipt{
    margin-top:15px;
  }
  #other_border{
  margin: 0 auto;
  }
  .btn_sub{
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .btn_sub button{
    width:35%;
  }
  .btn_sub button:last-child{
    margin-left: 50px;
  }
}
